:root {
  --primary-btn: #ff6464;
  --primary-bg: #fff;
  --secondary-bg: #edf8fa;
  --secondary-btn: #61b3b8;
  --shadow-primary: #f2f9fc;
  --primary-text: #212036;
  --secondary-text: #88898f;
  --white-text: #ffff;
  --secondary-text-100: #a2a8ab;
  --blue-accent: #21243d;
  --font-size-title: clamp(1rem, 1.75vw, 2rem);
  --font-size-subtitle: clamp(0.75rem, 1.25vw, 1.85rem);
  --font-size-text: clamp(0.65rem, 1vw, 1.25rem);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* F O N T S  */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: var(--font-size-title);
  color: var(--primary-text);
  font-weight: bold;
}

h3 {
  text-align: start;

  font-size: var(--font-size-subtitle);
  color: var(--font-size-title);
}

p,
time {
  color: var(--secondary-text);
  font-weight: 400;
  font-size: var(--font-size-text);
}
p {
  line-height: 0.85rem;
}
.wrapper {
  background-color: var(--primary-bg);
  max-width: 90%;
  padding: 0.5rem 5rem;
  margin: 0 auto;
}

/* N A V  */

.links-container {
  display: none;
}
.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.menu-toggle {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}
.menu-toggle img {
  height: 1.5rem;
  width: 1.5rem;
}

/* M A I N  */
h1 {
  font-size: var(--font-size-title);
  color: var(--primary-text);
  font-weight: bold;
  margin: 1.5rem 0 1rem 0;
}

.single-post {
  background-color: var(--primary-bg);
  border-bottom: 1px solid var(--secondary-text-100);
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.flex-align {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}
.flex-align p {
  margin-left: 0.25rem;
  color: var(--secondary-text-100);
  font-weight: 600;
}

.single-post time {
  border-right: 1px solid var(--secondary-text);
  padding-right: 0.5rem;
}

.img-cnt img {
  width: 100%;
  border-radius: 0.5rem;
}

.featured-data {
  border: none;
  font-weight: bold;
  background-color: var(--blue-accent);
  color: var(--white-text);
  border-radius: 15px;
  padding: 0.15rem 0.5rem;
}

/* F O O T E R  */

footer {
  margin: 1.5rem 0;
}
.social-cnt img {
  width: 20px;
  height: 20px;
}
.footer-nav {
  text-align: center;
  color: var(--secondary-text);
}
.social-cnt {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  gap: 1rem;
  list-style: none;
}
@media (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .wrapper {
    background-color: var(--primary-bg);
    max-width: 90%;
    padding: 0.5rem 0.75rem;
    margin: 0 auto;
    border: 1px solid red;
  }

  p {
    line-height: 2.5vw;
  }
  main,
  footer {
    padding: 0 10rem;
  }
  .links-container {
    display: flex;
    gap: 1.5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    margin-bottom: 3rem;
  }
  .links-container li {
    font-size: var(--font-size-text);
    cursor: pointer;
    font-weight: bold;
    list-style: none;
  }
  .nav-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .nav-link {
    color: var(--primary-btn);
  }
  .menu-toggle {
    display: none;
  }
  main h1 {
    margin-bottom: 2rem;
  }
  .single-post {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
  .img-cnt {
    min-width: 25vw;
    min-height: 150px;
  }
  .post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .col-2 {
    display: inline-flex;
    align-items: start;
    flex-direction: column;
  }
  .footer-nav {
    padding-top: 5rem;
  }
  .social-cnt {
    gap: 2rem;
    margin-bottom: 1rem;
  }
  .social-cnt img {
    width: 2rem;
    height: 2rem;
  }
}
